.answer-card {
    padding: 24px;
    gap: 10px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.answer-text {
    display: block;
    color: #666;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
