.modalContainer {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    border-radius: 5px;
    padding: 2rem;
    background-color: white;
    width: 25em;
}

.submitButton {
    display: block;
    margin: 1rem auto auto;
    border: none;
    background-color: #11101b;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 5px #cccc;
}

.entityFormGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.entityFormGroup input,
.entityFormGroup textarea,
.entityFormGroup select {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
}

.entityFormGroup label {
    margin-bottom: 0.2rem;
}

.error {
    background-color: #f8d7da;
    color: #df4759;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}
